@inject Mentor.IHelper.IUserHelper _ihelper;

@{
    var user = _ihelper.FindByUser(User.Identity.Name);
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title> Admin Dashboard</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/NiceAdmin/NiceAdmin/assets/img/downlogo.jpg" rel="icon">
    <link href="~/NiceAdmin/NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/NiceAdmin/NiceAdmin/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/fontawesome/css/all.css">


    <script>
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                confirmButtonColor: "#00A7EF",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function newSuccessAlert(message, url) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function successAlertWithRedirect(message, url) {
            swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                confirmButtonColor: "#00A7EF",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }


        function errorAlertwithTwoButtons(yesUrl, noUrl, newUrl, errorTitle) {
            swal({
                title: errorTitle,
                text: "",
                icon: "error",
                buttons: {
                    cancle: "No",
                    confirmButtonColor: "#00A7EF",
                    change: "Yes",
                    new: "Create Pin",
                },
            })
                .then((status) => {
                    debugger;
                    switch (status) {
                        case "change":
                            location.href = yesUrl;
                            break;
                        case "new":
                            location.href = newUrl;
                            break;
                        default:
                            location.href = noUrl;
                    }
                });
        }

        function SweeTest(yesUrl, noUrl) {
            Swal.fire({
                title: "Unverified E-mail Address",
                text: "Check your inbox Or Change email",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00A7EF",
                confirmButtonText: "Resend Email",
                cancelButtonText: "Change Email",
                cancelButtonColor: "#D3AF71",
                closeOnConfirm: false,
                closeOnCancel: false
            })
                .then((result) => {
                    debugger
                    if (result.isConfirmed) {
                        location.href = yesUrl
                    }
                    else {
                        location.href = noUrl
                    }

                });
        }
    </script>
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="/NiceAdmin/NiceAdmin/assets/img/downlogo.jpg" alt="">
                <span class="d-none d-lg-block">Admin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->



                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="@user.ProfilePicture" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@user.FirstName @user.LastName</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@user.FirstName @user.LastName</h6>
                            <span>@user.Department?.Name</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Admin" asp-action="AdminProfile" asp-route-userId="@user.Id">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button class="dropdown-item d-flex align-items-center btn">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>  Sign Out</span>
                                </button>
                            </form>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="Home" asp-action="">
                            <i class="bi bi-circle"></i><span>Home</span>
                        </a>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Admin Index</span>
                        </a>

                    </li>
                </ul>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Hostel Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="Admin" asp-action="Hostels">
                            <i class="bi bi-circle"></i><span>Hostels</span>
                        </a>
                        <a asp-controller="Admin" asp-action="Rooms">
                            <i class="bi bi-circle"></i><span>Rooms</span>
                        </a>
                        <a asp-controller="Admin" asp-action="HostelSettings">
                            <i class="bi bi-circle"></i><span>Hostels Settings</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="Admin" asp-action="AllUser">
                            <i class="bi bi-circle"></i><span>All Users</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->

            
        </ul>
    </aside><!-- End Sidebar-->

    <div class="container-fluid ">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Mentor Hostel Management</span></strong>. All Rights Reserved
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/quill/quill.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/NiceAdmin/NiceAdmin/assets/js/main.js"></script>
    <script src="~/js/Mentor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
